<%- include('partials/header') %> 
    <% let deptArray = []; %>
    <% for(let i=0;i<thisHospDepts.length; i++) { %>
        
        <% for(let j=0;j<departments.length;j++) { %> 
            <% if(thisHospDepts[i] == departments[j].deptId) { %> 
               <div> <%= departments[j].deptName %> </div>
               <input
                    value = "Checkout Doctors"
                    type = "button"
                    onclick = "location.href='/doctorsOfThisDepartment/<%= hospital.hId %>'"
               >
            <% } %>
        <% } %>

    <% } %>

    

    

<%- include('partials/footer') %> 