<!--include department icons or tabs on the home page-->
<!--included in index.ejs-->

<div class="row">
    <div class="column">
        <div class="card">
            <p>Card 1</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p>Card 2</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p>Card 3</p>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <p>Card 1</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p>Card 2</p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <p>Card 3</p>
        </div>
    </div>
    
</div>