<%- include('partials/header') %> 

    <div><%= doctors[0].firstName%></div>
    <input
        type = "button"
        value = "Book Appointment"
        onclick = "location.href='/doctorsAppointment'"
    >

<%- include('partials/footer') %> 