<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="" style="padding-left: 20px;" >FARC</a>

    <div class="collapse navbar-collapse" id="collapse_target">
        
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown_target">Tests
                   <span class="caret"></span> 
                </a>
                
                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                    <a class="dropdown-item">education</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item">interests</a>
                    <a class="dropdown-item">contact</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
            </li>
        </ul>
    </div>

</nav>